<div style="font-family: 'Noto Sans KR', sans-serif; position: relative; background-color: #e7e7e7;
      height: 300px; width: 100%; padding: 100px 0 100px 0; text-align: center;">
  <h1 style="position: absolute; top: 30px; margin: 0; left: 50%; transform: translateX(-50%);
    color: #353535;">SPEEDJOBS
  </h1>
  <div style="display: inline-block; background-color: white; height: 70%; width: 100%;
       text-align: center; margin: auto; width: 70%; padding: 25px 0 10px;">
    <div style="margin: auto; width: 70%; padding: 25px 0 10px;">
      가입을 환영합니다<br/>
      ${content}<br/>
      <a href="${src}" target="_blank">
        <button style="transform: translateY(50px); border: none; width: 100px; height: 35px;
                  background-color: #f5df4d; color: #fcf6e7; font-weight: bolder;
                  cursor: pointer; border-radius: 15px;">
          인증하기
        </button>
      </a>
    </div>
  </div>
  <br/>
  <span style="font-size: 10px;">본 메일은 발신 전용이며 회신 시 답장을 받을 수 없습니다.</span>
  <br/>
</div>
